#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a n8n instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman n8n-server.service
BindsTo=n8n.service
After=n8n-redis.service n8n-pgsql.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/database.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/n8n-server.pid %t/n8n-server.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/n8n-server.pid \
    --pod-id-file=%t/n8n.pod-id \
    --cidfile=%t/n8n-server.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env-file=smarthost.env \
    --env=n8n_* \
    --env=DB_TYPE=postgresdb \
    --env=DB_POSTGRESDB_HOST=127.0.0.1 \
    --env=DB_POSTGRESDB_PORT=5432 \
    --env=DB_POSTGRESDB_DATABASE=${POSTGRES_DATABASE} \
    --env=DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER} \
    --env=DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD} \
    --env=e GENERIC_TIMEZONE=Europe/Berlin \
    --env=TZ=Africa/Nairobi \
    --env=EXECUTIONS_MODE=queue \
    --env=QUEUE_BULL_REDIS_HOST=redis \
    --env=QUEUE_HEALTH_CHECK_ACTIVE=true \
    --volume=n8n_data:/home/node/ \
    --volume=n8n_storage:/home/node/.n8n \
    ${N8N_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/n8n.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/n8n-server.ctr-id
PIDFile=%t/n8n-server.pid
Type=forking

[Install]
WantedBy=default.target
