#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a n8n instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman n8n-worker.service
BindsTo=n8n.service
After=n8n.service n8n-pgsql.service n8n-redis.service n8n-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/database.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=180
TimeoutStartSec=300
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/n8n-worker.pid %t/n8n-worker.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/n8n-worker.pid \
    --cidfile=%t/n8n-worker.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file=%t/n8n.pod-id \
    --replace --name=%N \
    --env-file=%S/state/n8n-db.env \
    --env-file=%S/state/n8n.env \
    --volume=n8n_data:/home/node/.n8n \
    ${RUNNERS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/n8n-worker.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/n8n-worker.ctr-id
PIDFile=%t/n8n-worker.pid
Type=forking

[Install]
WantedBy=default.target
